.heading {
  text-align: center;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
  font-size: 110%;
}

.formStyle {
  margin: 20 400;
}

.loginForm {
  margin: 50px 200px;
  padding: 0 100;
}

.all {
  margin: 30px 30px 120px;
}
