/* header */

.nav-section {
  background-color: rgb(27, 26, 26);
  padding: 5px 30px;
}

.img-responsive {
  width: 150px;
  height: 55px;
  margin-right: 20px;
}

/* footer */

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  height: 2.5rem;
  background-color: rgb(12, 12, 11);
  width: 100%;
}

footer p {
  color: rgb(233, 223, 223);
  padding: 5px;
  font-weight: 400;
}

/* sidebar */

.sideBar {
  width: 30%;
  height: 30rem;
  margin: 5rem auto;
  background-color: #dfe2d5;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.bgImg {
  width: 85%;
  margin-left: 110px;
  margin-top: 20px;
}

.heading {
  text-align: center;
  padding: 10px;
}

.form-group {
  margin-bottom: 10px;
  font-size: 110%;
}

.formStyle {
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 20px;
}

.loginForm {
  padding-left: 300px;
  padding-right: 300px;
}

.all {
  margin: 30px 30px 120px;
}

/*Student Main Page*/
.StdLeftContent {
  margin-left: 290px;
}

.img-std-WelcomeInMainPage {
  width: 670px;
  height: 250px;
  margin-left: 20px;
}

.stMainPageBtn {
  background-color: #5d6763;
  border: none;
  color: white;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 25px;
  width: 670px;
  height: 60px;
  transition-duration: 0.4;
}

.button1:hover {
  background-color: #149aed;
  color: white;
}

.StudentSupportServices {
  margin-top: -35.5%;
  margin-left: 74%;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #5d6763;
  border-radius: 25px;
  color: white;
}

.StudentSupportServicesH2 {
  text-align: center;
  color: red;
  padding-top: 34px;
}

/*--------------AFpage Css---------------*/
.AFstyles {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17.8px;
}

.FirstH1 {
  color: red;
}

.AFRightNavBar {
  margin-top: -13%;
  margin-left: 74%;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #5d6763;
  border-radius: 25px;
}

.AFRightNavBarBody {
  padding-top: 28px;
  padding-left: 10px;
}

.AFRightNavBarButtons {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 25px;
  width: 330px;
  height: 60px;
  transition-duration: 0.4;
}

/*Admin manage users page*/
.topMenu {
  padding-left: 50px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.userNavBtn {
  margin-left: 40px;
  font-weight: bold;
}

.adminMenu {
  margin-left: 20%;
  margin-top: 5%;
  width: 25%;
  border: 3px solid black;
}

.admMenu {
  padding: 30px 40px;
}

.menuBtn {
  width: 94%;
  margin-top: 20px;
  height: 50px;
  text-align: left;
  font-size: 110%;
  font-weight: bold;
}
